@media only screen and (max-width: 1135px) {
    header {
        padding: 35px 50px 35px 40px; 
    }
    header .nav-content ul{
        margin-left: 30px;
    }
    header .nav-content ul li {
        width: 165px;
    }
    header .nav-right a, header .nav-right a:visited{
        padding: 10px 0;
        width: 110px;
    }


    .main-section .img-part svg{
        width: 465px;
        height: 285px;
    }
    .main-section {
        padding: 50px 20px 75px 20px;
    }
    .main-section .content {
        padding-top: 40px;
    }
    .main-section h1 {
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .main-section .text-part {
        width: 80%;
    }
    .main-section .text-part h4{
        font-size: 1.3em;
    }
    .main-section .text-part p{
        line-height: 1.5em;
    }



    .mid-section {
        padding: 00px 40px;
        border-top-right-radius: 120px;
        border-bottom-left-radius: 115px;
        height: 285px;
        margin: 20px;
    }
    .mid-section .img-part div:nth-child(1) {
        background-position: -153px 0px;
        width: 163px;
        height: 335px;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        transform: translateY(20px);
    }
    .mid-section .img-part div:nth-child(2) {
        height: 393px;
        width: 180px;
        transform: translateY(50px);
    }
    .mid-section .text-part {
        width: 70%;
    }
    .mid-section .text-part h2 {
        font-size: 1.3em;
    }
    .mid-section .text-part p {
        font-size: 1em;
    }
    

    footer .logo {
        width: 30%;
    }
    footer table td {
        width: 180px;
    }
}

@media only screen and (max-width: 975px) {
    header .nav-left {
        display: none;
    }
    header .nav-right {
        display: none;
    }

    .menu {
        background: url(../img/menu.svg) no-repeat;
        background-size: cover;
        width: 32px;
        height: 32px;
        cursor: pointer;
        transition: .3s;
    }
    .menu:hover {
        transform: rotate(180deg);
        transition: transform .3s;
    }

    .menu.menu-clicked {
        background: url(../img/close.svg) no-repeat;
        background-size: cover;
    }


    .nav-left.menu-clicked {
        display: flex;
    }
    .nav-right.menu-clicked {
        display: flex;
        align-items: center;
        top: 330px;
        width: 100%;
        position: absolute;
        background-color: white;
        left: 0;
        animation-name: slide-down;
        animation-duration: .4s;
    }
    header .sign-up, header .sign-up:visited {
        border-radius: 0px;
        color: white;
        
    }
    header .nav-right a, header .nav-right a:visited{
        background-color: steelblue;
        padding: 15px 0;
        width: 50%;
        color: white;
        text-align: center;
        border: black 2px solid;
        font-size: 1em;
        animation: none;
    }
    header .nav-right a:nth-child(2) {
        border-radius: 0;
    }
    .nav-left.menu-clicked ul {
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 29vh;
        background-color: rgb(255,255,255);
        position: absolute;
        top: 110px;
        left: 0;
        margin: 0;
        animation-name: slide-down;
        animation-duration: .4s;
    }
    header .nav-content ul li {
        color: black;
        width: 185px;
        padding: 25px 40px;
        width: 100%;
        border-bottom: black 3px solid;
        font-size: 1.1em;
    }
    header .nav-content .dd-menu{
        background-color: black;
        padding: 15px;
        border-radius: 20px;
        position: absolute;
        top: 100px;
        right: 20px;
        /* display: none; */
        animation: none;
        z-index: 100000;
    }
    header .nav-content .dd-menu li {
        color: white;
        padding: 8px;
    }
    header .nav-content .dd-menu li:hover {
        color: rgba(0, 0, 0, .6);
        cursor: pointer;
    }


    
    .banner {
        background: url(../img/banner.svg) no-repeat;
        background-size: cover;
        border-bottom-left-radius: 140px;
        background-attachment: fixed;
        height: 50vh;
    }
    .banner .text-part h2 {
        font-size: 2em;
    }
    .banner .text-part p {
        font-size: 1em;
    }
    .banner .content a, .banner .content a:visited{
        border: white 2px solid;
        width: 125px;
        font-size: .8em;
    }
    .banner .content a:first-child {
        margin-right: 30px;
    }
    


    .main-section {
        padding: 80px 0px 65px 0px;
    }
    .main-section h1 {
        font-size: 1.6em;
    }
    .main-section .text-part {
        width: 50%;
    }
    .main-section .text-part h4{
        font-size: 1.1em;
    }
    .main-section .text-part p{
        font-size: 1em;
    }
    .main-section .img-part svg{
        width: 300px;
        height: 180px;
        margin: 10px;
    }


    .mid-section {
        padding: 00px 40px;
        border-top-right-radius: 120px;
        border-bottom-left-radius: 115px;
        height: 180px;
        margin: 20px 0;
    }
    .mid-section .img-part div:nth-child(1) {
        background-position: -96px 0px;
        width: 102px;
        height: 210px;
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px;    
        transform: translateY(15px);
        margin-right: 15px;
    }
    .mid-section .img-part div:nth-child(2) {
        height: 260px;
        width: 130px;
        transform: translateY(30px);
    }
    .mid-section .text-part {
        width: 60%;
    }
    .mid-section .img-part {
        font-size: .5em;
    }
    .mid-section .text-part h2 {
        font-size: 1.1em;
    }
    .mid-section .text-part p {
        font-size: .9em;
    }


    footer {
        padding: 39px 15px 50px 25px;
        border-radius: 0;
    }
    footer .logo {
        width: 50%;
    }
    footer table {
        width: 50%;
    }
    footer table th{
        font-size: .8em;
        padding-bottom: 13px;
    }
    footer table td {
        width: 140px;
        padding: 2px 0;
        font-size: .8em;
    }

    .sign-up-window h4 {
        font-size: 1.2em;
    }
    .sign-up-window .input-container {
        border: solid 40px white;
        width: 500px;
    }
    .sign-up-window div {
        width: 370px;
    }
    .sign-up-window input {
        font-size: .9em;
        padding: 12px 15px;
        margin: 10px 0;
    }
    .sign-up-window button {
        font-size: 1em;
    }
    header .sign-up.sign-up-clicked, header .sign-up.sign-up-clicked:visited {
        right: 50px;
        top: 40px;
        background: url(../img/cross.svg) no-repeat;
        border: 0;
        height: 20px;
        width: 25px;
    }
}

@media only screen and (max-width: 652px) {
        
    .logo div:nth-child(1){
        width: 62px;
        height: 35px;
    }
    .title h6 {
        font-size: .5em;
    }
    .title span {
        font-size: .2em;
    }
    header .nav-left, header .nav-right {
        width: 50%;
    }

    .nav-right.menu-clicked {
        top: 287px;
    }
    header .nav-right a, header .nav-right a:visited{
        background-color: steelblue;
        padding: 15px 0;
        border: black 1px solid;
        font-size: .8em;
    }
    .nav-left.menu-clicked ul {
        height: 24vh;
        top: 110px;
    }
    header .nav-content ul li {
        padding: 20px 30px;
        width: 100%;
        border-bottom: black 1px solid;
        font-size: .8em;
    }
    header .menu {
        width: 23px;
        height: 23px;
    }




    .banner {
        height: 70vh;
    }
    .banner .text-part h2 {
        font-size: 1.2em;
    }
    .banner .text-part p {
        font-size: .9em;
    }


    .main-section {
        padding: 30px 00 40px 00;
    }
    .main-section .content {
        padding-top: 0px;
    }
    .main-section h1 {
        font-size: 1.3em;
    }
    .main-section .text-part {
        width: 90%;
    }
    .main-section .text-part h4{
        font-size: 1em;
    }
    .main-section .text-part p{
        font-size: .9em;
        margin-bottom: 30px;
    }
    .main-section .img-part svg{
        width: 270px;
        height: 170px;
        margin: 20px;
    }


    .mid-section {
        padding: 10px 20px;
        height: 165px;
        border-top-right-radius: 70px;
        border-bottom-left-radius: 70px;
        margin: 0;
    }
    .mid-section .img-part div:nth-child(1) {
        background-position: -81px 0px;
        width: 89px;
        height: 180px;
        margin-right: 30px;
        transform: translateY(5px);
    }
    .mid-section .img-part div:nth-child(2) {
        display: none;
    }
    .mid-section .text-part {
        width: 70%;
    }
    .mid-section .img-part {
        font-size: .5em;
    }
    .mid-section .text-part h2 {
        font-size: .9em;
    }
    .mid-section .text-part p {
        font-size: .8em;
    }


    footer {
        padding: 40px 10px 40px 15px;
    }
    footer table th{
        font-size: .7em;
        padding-bottom: 13px;
    }
    footer table td {
        width: 100px;
        padding: 2px 0;
        font-size: .6em;
    }


    .sign-up-window h4 {
        font-size: 1em;
    }
    .sign-up-window .input-container {
        width: 320px;
        border: 30px solid white;
    }
    .sign-up-window div {
        width: 250px;
    }
    .sign-up-window input {
        font-size: .7em;
        padding: 10px 12px;
    }
    .sign-up-window button {
        font-size: .8em;
        padding: 7px 20px;
    }
    header .sign-up.sign-up-clicked, header .sign-up.sign-up-clicked:visited {
        width: 22px;
    }
}