@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 35px 180px 35px 160px; 
}
.logo {
    display: flex;
    animation-name: slide-up;
    animation-duration: .5s;
    animation-delay: calc(.2s * var(--i));
    -webkit-animation-name: slide-up;-webkit-animation-duration: .5s;-webkit-animation-delay: calc(.2s * var(--i));
    -moz-animation-name: slide-up;-moz-animation-duration: .5s;-moz-animation-delay: calc(.2s * var(--i));
    -o-animation-name: slide-up;-o-animation-duration: .5s;-o-animation-delay: calc(.2s * var(--i));
}
.logo div:nth-child(1){
    background:url(../img/logo.png) no-repeat;
    background-size: cover;
    width: 87px;
    height: 49px;
}
.title {
    color: white;
    letter-spacing: 1px;
}
.title span {
    font-size: .5em;
    font-weight: bold;
    display: block;
}
header .nav-left {
    display: flex;
    width: 70%;
    align-items: center;
}
header .nav-content > ul{
    display: flex;
    margin-left: 50px;
}
header .nav-content ul li {
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    width: 185px;
    position: relative;
    animation-name: slide-up;animation-duration: .5s;animation-delay: calc(.2s * var(--i));
    -webkit-animation-name: slide-up;-webkit-animation-duration: .5s;-webkit-animation-delay: calc(.2s * var(--i));
    -moz-animation-name: slide-up;-moz-animation-duration: .5s;-moz-animation-delay: calc(.2s * var(--i));
    -o-animation-name: slide-up;-o-animation-duration: .5s;-o-animation-delay: calc(.2s * var(--i));
}
header .nav-content ul li .arrow{
    transition: .4s;
}
header .nav-content ul li .arrow.arrow-clicked {
    transform: rotate(180deg);
    transition: transform .4s;
}
header svg {
    width: 50px;
    height: 18px;
}
header .nav-content ul li:hover {
    cursor: pointer;
}
header .nav-content .dd-menu{
    background-color: rgb(255 255 255);
    padding: 15px;
    border-radius: 20px;
    position: absolute;
    top: 64px;
    left: -40px;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 40%);
    width: 183px;
    display: none;
}
header .nav-content .dd-menu::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 73px;
    transform: rotate(45deg);
    height: 30px;
    width: 30px;
    background-color: inherit;
    z-index: 100;
}
header .nav-content .dd-menu.arrow-clicked {
    display: block;
}

header .nav-content .dd-menu li {
    color: rgba(0, 0, 0, 0.8);
    padding: 8px;
    animation: none;
}
header .nav-content .dd-menu li:hover {
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
}
header .nav-right {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}
header .nav-right a, header .nav-right a:visited{
    text-decoration: none;
    padding: 10px 0;
    width: 140px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;animation-name: slide-up;animation-duration: .5s;animation-delay: calc(.2s * var(--i));
    -webkit-animation-name: slide-up;-webkit-animation-duration: .5s;-webkit-animation-delay: calc(.2s * var(--i));
    -moz-animation-name: slide-up;-moz-animation-duration: .5s;-moz-animation-delay: calc(.2s * var(--i));
    -o-animation-name: slide-up;-o-animation-duration: .5s;-o-animation-delay: calc(.2s * var(--i));
}
header .nav-right a:nth-child(2) {
    background-color: white;
    color: steelblue;
    border-radius: 50px;
    text-align: center;
}
@keyframes slide-up { from {transform: translateY(200px);opacity: 0; } to {transform: translateY(0px);opacity: 1;}}



.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: url(../img/banner.svg) no-repeat;
    background-size: cover;
    background-position: 00px -90px;
    border-bottom-left-radius: 140px;
    background-attachment: fixed;
}
@keyframes slide-down { from { transform: translateY(-800px); } to {transform: translateY(0px)} }
.banner .text-part {
    text-align: center;
}
.banner .text-part h2 {
    color: white;
    font-size: 3em;
    letter-spacing: 3px;
}
.banner .text-part p {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}
.banner .content {
    display: flex;
    justify-content: center;
    width: 100%;
}
.banner .content a, .banner .content a:visited{
    border-radius: 25px;
    border: white 3px solid;
    padding: 10px 0px;
    text-decoration: none;
    color: white;
    width: 165px;
    text-align: center;
    font-size: 1.1em;
}
.banner .content a:first-child {
    color: steelblue;
    background-color: white;
    font-weight: bold;
    margin-right: 50px;
}
.banner .content a:hover, .banner .content a:visited:hover {
    transform: translateY(10px);
    transition: transform .4s;
}


.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px;
    transition: .4s;
}
.main-section .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    flex-wrap: wrap;
}
.main-section.first .content{
    flex-wrap: wrap-reverse;
}
.main-section h1 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
}
.main-section .text-part {
    width: 45%;
}
.main-section .text-part h4{
    font-size: 1.5em;
}
.main-section .text-part p{
    line-height: 1.7em;
    color: rgba(0, 0, 0, .9);
    margin-bottom: 50px;
}
.main-section .img-part svg{
    width: 600px;
    height: 350px;
}



.mid-section {
    background-color: rgb(67, 86, 104);
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 115px;
    height: 375px;
}
.mid-section .img-part {
    display: flex;
}
.mid-section .img-part div:nth-child(1) {
    background: url(../img/phone1.svg) no-repeat;
    background-size: cover;
    background-position: -193px 0px;
    width: 210px;
    height: 428px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    margin-right: 40px;
    transform: translateY(40px);
}
.mid-section .img-part div:nth-child(2) {
    background: url(../img/phone2.svg) no-repeat;
    background-size: cover;
    height: 500px;
    width: 250px;
    transform: translateY(100px);
}
.mid-section .text-part {
    width: 40%;
}
.mid-section .text-part h2 {
    color: white;
    font-size: 1.8em;
}
.mid-section .text-part p {
    color: white;
    line-height: 1.5em;
    font-size: 1.2em;
}


footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 60px 70px 100px 0px;
    background-color: rgb(36, 41, 45);
    border-top-right-radius: 120px;
}
footer .logo {
    width: 20%;
}
footer table th{
    color: white;
    text-align: left;
    padding-bottom: 18px;
}
footer table td {
    color: rgba(255, 255, 255, .7);
    width: 350px;
    padding: 4px 0;
}
footer table td:hover {
    color: rgba(255, 255, 255, .4);
    cursor: pointer;
}


.top-btn, .top-btn:visited {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 120px;
    background-color: rgb(255 255 255);
    border-radius: 100%;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
.top-btn-display {
    display: block;
}
.top-btn, .top-btn:visited svg {
    width: 63px;
    height: 65px;
}
.top-btn:hover {
    transform: scale(1.1);
}


.sign-up-window {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    display: none;
    animation-name: slide-down;animation-duration: .4s;
    -webkit-animation-name: slide-down;-webkit-animation-duration: .4s;
    -moz-animation-name: slide-down;-moz-animation-duration: .4s;
    -o-animation-name: slide-down;-o-animation-duration: .4s;
}
.sign-up-window-display {
    display: flex;
}
.sign-up-window h4 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.sign-up-window .input-container {
    background-color: white;
    border: solid 80px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, .5);
}
.sign-up-window div {
    width: 580px;
}
.sign-up-window input {
    padding: 15px 20px;
    width: 100%;
    font-size: 1.1em;
    outline: none;
    margin: 10px;
    border: solid 1px rgba(0,0,0,.2)
}
.sign-up-window button {
    background-color: steelblue;
    color: white;
    border: 0;
    padding: 10px 40px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
}
header .sign-up.sign-up-clicked {
    position: fixed;
    right: 200px;
    z-index: 100000;
    background: url(../img/cross.svg) no-repeat;
    background-size: cover;
    height: 50px;
    width: 35px;
    font-size: 0;
}